# Ignore these dev folders
.idea/
api/
assets/
assets-home/
cases/
giveback/
twitterCovid/
vaccines/json/historical/
vaccines/json/ecdc/

# These files
app.yaml
chart.png
index.html
social.png
error_log.txt
vaccines/updateECDCDataTable.php
vue.html